@charset "UTF-8";

@font-face {
  font-family: chirp;
  src: url(fonts/chirp_regular.otf);
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  font-family: "chirp";
}

body {
  background-color: rgb(26, 26, 26);
  color: white;
  display: grid;
  place-items: center;
}

header {
  margin-bottom: 100px;
  color: white;
  display: flex;
  width: 100%;
  height: fit-content;
  position: relative;
  /* margin-top: 15px; */
  padding-top: 20px;
  padding-bottom: 20px;
  position: fixed;
  top: 0;
  left: 0;
  transition: 200ms;
  z-index: 999;
}

.container1 {
  display: flex;
  height: fit-content;
  width: fit-content;
  position: absolute;
  left: 0px;
}

/* MENU BUTTON */

.menuList {
  display: none;
  list-style-type: none;
}

.containerButton {
  display: none;
}

.containerLabel {
  display: none;
}

.container1 .linkMenuList {
  text-decoration: none;
}

.container1 .linkMenuList:visited {
  color: white;
  text-decoration: none;
}

/* //////////////////// */

header.roll {
  /* background-color: rgb(26, 26, 26); */
  backdrop-filter: blur(15px);
  background-color: #00000054;
  padding-top: 20px;
  padding-bottom: 20px;
  transition: 100ms;
}

.containerNavOptions {
  margin: auto;
}

.containerNavOptionsFlex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.containerIcons {
  position: absolute;
  right: 0px;
  margin-right: 30px;
}

.siteLogo {
  display: flex;
  position: absolute;
  left: 0px;
  margin-left: 30px;
  align-items: center;
}

.options {
  display: flex;
  list-style-type: none;
  height: fit-content;
  width: fit-content;
  margin: auto;
  padding: 0;
  font-size: 20px;
  margin-top: 10px;
  align-items: center;
}

.linkOptions {
  text-decoration: none;
  margin-right: 30px;
}

.linkOptions:visited {
  color: white;
}

.menuIcons {
  text-decoration: none;
  margin-left: 20px;
  font-size: 25px;
}

.menuIcons:visited {
  color: white;
}

/* SEARCH_BOX */

main {
  display: grid;
  height: 100%;
  place-items: center;
}

.searchBox {
  position: relative;
  height: 60px;
  width: 10px;
  right: 20px;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  margin-top: 210px;
}

.searchBox.active {
  width: 350px;
  right: 40px;
}

.searchBox input {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  background: #fff;
  font-size: 18px;
  border-radius: 50px;
  padding: 0 60px 0 20px;
  opacity: 0;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.searchBox input.active {
  opacity: 1;
}

.searchBox .searchButton {
  height: 60px;
  width: 60px;
  color: rgb(26, 26, 26);
  position: absolute;
  top: 50%;
  right: -45px;
  z-index: 1;
  transform: translateY(-50%);
  background: white;
  line-height: 60px;
  font-size: 20px;
  text-align: center;
  border-radius:50px;
  cursor: pointer;
  transition: all 0.5s 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.searchBox .searchButton.active {
  height: 50px;
  width: 50px;
  color: white;
  background: rgb(26, 26, 26);
  line-height: 50px;
  right: -75px;
  transform: translateY(-50%) rotate(360deg);
}

.searchBox .cancelButton {
  position: absolute;
  top: 50%;
  right: -45px;
  transform: translateY(-50%);
  color: white;
  font-size: 25px;
  cursor: pointer;
  transition: all 0.5s 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.searchBox .cancelButton.active {
  right: -120px; 
  transform: translateY(-50%) rotate(360deg);
}

.searchBox .searchData {
  color: white;
  font-size: 18px;
  display: none;
}

.searchBox .searchData.active {
  display: grid;
  position: absolute;
  right: 90px;
  bottom: -40px;
}

/* ///////////////////////// */


/* SearchList Results */

.banner {
  margin-top: 40px;
  font-size: 0.8rem;
}

.containerList {
  margin-top: 30px;
  width: 70%;
}

.searchListIcons {
  display: flex;
  position: relative;
  justify-content: center;
  gap: 20px;
  align-items: center;
  margin-bottom: 40px;
}

#searchListIconInline {
  display: none;
  cursor: pointer;
  font-size: 1.3rem;
  color: rgb(26,26,26);
  background-color: white;
  padding: 7px;
  border-radius: 50%;
  transition: 150ms;
}

#searchListIconGrid {
  display: none;
  cursor: pointer;
  font-size: 1.4rem;
  padding: 7px;
  border-radius: 50%;
  transition: 150ms;
}

/* #searchList {
  margin: auto;
  display: block;
} */

.animeItem {
  display: flex;
  margin-bottom: 40px;
}

.searchListGrid .animeItem {
  /* width: 40px; */
}

.searchListGrid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 40px;
  position: relative;
  gap: 20px;
  justify-content: center;
}

.searchListGrid .animeItem {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  position: relative;
  max-width: 170px;
  min-width: 170px;
  align-items: center;
}

.animeTitleWrapper {
  margin: 0;
  margin-left: 20px;
  /* display: none; */
}

.searchListGrid .animeTitle {
  font-size: 1.2rem;
  text-align: center;
}

.searchListGrid .animeEnglishTitle {
  text-align: center;
}

.searchListGrid .animeTitleWrapper {
  margin: 0;
  margin-top: 10px;
}

.animeEnglishTitle {
  font-size: 0.9rem;
  margin-left: 0.8px;
  margin-top: 5px;
}

#searchResultText {
  margin: auto;
  text-align: center;
  margin-bottom: 70px;
  font-size: 0.6rem;
}

a {
  text-decoration: none;
  color: white;
}

a:visited {
  text-decoration: none;
  color: white;
}

