.anime-container {
  display: flex;
  flex-direction: column;
  margin-top: 150px;
  width: 70vw;
}

.anime-info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 24px;
}

.anime-titles h1{
  margin-bottom: 18px;
}

.anime-titles h2 {
  font-size: 0.8rem;
}

.anime-titles p {
  margin-top: 32px;
}

.anime-image img{
  width: 200px;
  margin-right: 24px;
  border-radius: 10px;
}

.trailer-container {
  margin: 120px 0 240px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.trailer-container video {
  border-radius: 14px;
}

.trailer-content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.trailer-content h2 {
  font-size: 1.3rem;
}