.anime-container {
  display: flex;
  flex-direction: column;
  margin-top: 150px;
  width: 70vw;
}

.anime-info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 24px;
}

.anime-titles-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.anime-titles h1{
  margin-bottom: 18px;
}

.anime-titles h2 {
  font-size: 0.8rem;
}

.anime-titles p {
  margin-top: 32px;
}

.anime-image img{
  width: 200px;
  margin-right: 24px;
  border-radius: 10px;
}

.favorite-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-top: 32px;
}

.favorite-box p {
  margin: 0;
  margin-right: 10px;
}

.trailer-container {
  margin: 120px 0 240px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.trailer-container video {
  border-radius: 14px;
}

.trailer-content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.trailer-content h2 {
  font-size: 1.3rem;
}

@media only screen and (max-width: 800px) {
  .anime-info {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .anime-titles h1 {
    font-size: 1.4rem;
  }

  .anime-titles h2 {
    font-size: 1rem;
  }

  .trailer-container video {
    width: 100%;
  }


  .trailer-container h2 {
    font-size: 1.1rem;
  }
}