.containerList {
  width: 100vw;
}

#my-list-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.anime-box {
  display: flex;
  flex-direction: row;
}

.anime-box img{
  width: 150px;
  border-radius: 12px;
  margin-right: 20px;
}